{% extends 'graduate_students/__base.html' %}

{# ########################################### #}

{% block page_title %}Delete {{ graduatestudent }} Confirmation{% endblock %}
{% block title %}Delete {{ graduatestudent }} Confirmation{% endblock %}

{# ########################################### #}

{% block html_head %}
{{ block.super }}
<link href="/media/css/forms.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{# ########################################### #}

{% block content %}

<p>
This action cannot be undone.
</p>

<p>
Graduate students should be marked as graduated to remain as alumni.
</p>

<p>
Are you <strong>sure</strong> you want to delete the graduate student record for
{{ graduatestudent }}?
</p>

<form action="" method="post" class="form">{% csrf_token %}
    <table class="table-form">
        <tr class="submit-row">
            <td>
            </td>
            <td>
                <input type="submit" name="action" value="Delete">
            </td>
        </tr>
    </table>
</form>


{% endblock %}

{# ########################################### #}
