{# ########################################################## #}
{# This template fragment expects to be have a `third_person` #}
{# variable as a part of the context.                         #}
{# This variable indicates whether it is *this* person        #}
{# or a different person looking at the information           #}
{# It is assumed that only people with the change_person      #}
{# permission will be looking at other people's information.  #}
{# ########################################################## #}

{% load humanize %}


{% for graduatestudent in person.graduatestudent_set.active %}
    <h3>Graduate Student Information</h3>
    <p>
        Program: {{ graduatestudent.get_program_display }}; Status:
        {{ graduatestudent.get_status_display|lower }}.
        {% url 'gradstudent-detail' pk=graduatestudent.pk as link_url %}
        {% if link_url %}
                <a href="{{ link_url }}">
                    &rarr; More details
                </a>
        {% endif %}
     </p>
{% endfor %}